<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dusty Bones</title>
  <meta name="description" content="Dusty Bones is a community of NFT enthusiasts on @MultiversX. 90% of rewards are donated to holders. Only art and fun here.">
  <meta name="keywords" content="Dusty Bones, NFT, community, MultiversX, art, fun">
  <meta name="author" content="Dusty Bones">
  <meta name="robots" content="index, follow">
  <meta name="language" content="en">
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" type="image/jpeg" href="img/logo.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://unpkg.com/htmx.org@1.9.4/dist/htmx.min.js"></script>
</head>
<body>
  <header>
    <h1>Dusty Bones</h1>
    <p class="fadeSlideInText">Dusty Bones is a community of NFT enthusiasts on @MultiversX. 90% of rewards are donated to holders. Only art and fun here.</p>
  </header>

  <main>
    <div class="flex-container">
      <section>
        <img src="img/logo.png" alt="Dusty Bones Collection">
      </section>

      <section>
        <h2>Roadmap</h2>
        <ul class="ul-roadmap fade-in-list">
          <li>Create the xSafe wallet to manage funds</li>
          <li>Create Twitter, Discord, and the website</li>
          <li>Release the NFT collection</li>
          <li>Invest funds in Hatom protocol farms</li>
          <li>A lottery of 1 EGLD for our holders every 50 mints</li>
          <li>Reward holders with farm interests</li>
          <li>Vote on decisions via a smart contract on FrameIt</li>
          <li>Collaborate with other MultiversX actors</li>
        </ul>
      </section>
    </div>
    

    <div class="flex-container">
      <section>
        <div>
          <h2>Whitepaper</h2>
          <a href="whitepaper.pdf" target="_blank" class="mint-button">Download</a>
        </div>
        <div class="stats">
          <div>
            <h2>Floor Price</h2>
            <div>
              <span hx-get="https://api.xoxno.com/getFloorPrice/DUSTYBONES-c1fc90/EGLD" hx-trigger="load">
                <i id="loading-icon" class="fas fa-spinner fa-spin"></i>
              </span>
              <span>&nbsp;EGLD</span>
            </div>
          </div>
          <div>
            <h2>Total supply</h2>
            <div id="supply" hx-get="https://api.xoxno.com/getCollectionOwners/DUSTYBONES-c1fc90" hx-trigger="load">
              <i id="loading-icon" class="fas fa-spinner fa-spin"></i>
            </div>
          </div>
          <div>
            <h2>Unique Holders</h2>
            <div id="holders" hx-get="https://api.xoxno.com/getCollectionOwners/DUSTYBONES-c1fc90" hx-trigger="load">
              <i id="loading-icon" class="fas fa-spinner fa-spin"></i>
            </div>
          </div>
          <div>
            <h2>Hatom farm</h2>
            <div id="farm" hx-get="https://api.multiversx.com/accounts/erd1hkr89plnuz6drjpy9x3w0hxmdd54n5n9d7s03gxz8yyrva4c3u4sw80sme/transactions?size=10000&receiver=erd1qqqqqqqqqqqqqpgqvtpg5nxgrjmr3nfl8zknama86putgxdz78ss7dcj4g&function=lendegate&after=1688215464" hx-trigger="load">
              <i id="loading-icon" class="fas fa-spinner fa-spin"></i>
            </div>
          </div>
        </div>
      </section>
      <section>
        <h2>Dusty Bones Collection</h2>
        <div class="carousel">
          <div class="carousel-item active">
            <img src="img/nfts/NFT_009.png" alt="Image 1">
          </div>
          <div class="carousel-item">
            <img src="img/nfts/NFT_017.png" alt="Image 2">
          </div>
          <div class="carousel-item">
            <img src="img/nfts/NFT_023.png" alt="Image 3">
          </div>
          <div class="carousel-item">
            <img src="img/nfts/NFT_077.png" alt="Image 4">
          </div>
          <div class="carousel-item">
            <img src="img/nfts/NFT_111.png" alt="Image 5">
          </div>
          <div class="carousel-item">
            <img src="img/nfts/NFT_135.png" alt="Image 6">
          </div>
          <div class="carousel-item">
            <img src="img/nfts/NFT_171.png" alt="Image 7">
          </div>
          <div class="carousel-item">
            <img src="img/nfts/NFT_213.png" alt="Image 8">
          </div>
          <div class="carousel-item">
            <img src="img/nfts/NFT_337.png" alt="Image 9">
          </div>
          <div class="carousel-item">
            <img src="img/nfts/NFT_379.png" alt="Image 10">
          </div>
        </div>
        <a href="https://www.frameit.gg/marketplace/DUSTYBONES-c1fc90" target="_blank" class="mint-button">Mint</a>
      </section>
    </div>

    <section class="team-section">
      <h2>Team</h2>
      <div class="team-members">
        <div class="team-member">
          <img src="img/stan.png" alt="Avatar membre 1">
          <h3><a href="https://twitter.com/StanWilscott">Stan</a></h3>
          <p>Designer</p>
        </div>
        <div class="team-member">
          <img src="img/pentaxx.png" alt="Avatar membre 2">
          <h3><a href="https://twitter.com/Will_Pentaxx">Pentaxx</a></h3>
          <p>Social manager</p>
        </div>
        <div class="team-member">
          <img src="img/mobo.png" alt="Avatar membre 3">
          <h3><a href="https://twitter.com/dotmobo">Mobo</a></h3>
          <p>Developer</p>
        </div>
      </div>
    </section>

    <div class="flex-container">
      <section class="dusty-section">
        <h2>Dusty, our mascot !</h2>
        <img src="img/dusty.png" alt="Dusty">
      </section>
      <section>
        <h2>Links</h2>
        <ul>
          <li>
            <a href="https://twitter.com/DBones_mvx" class="list-item-link">
              <img src="img/icons8-twitter-48.png" alt="Twitter">Twitter
            </a>
          </li>
          <li>
            <a href="https://discord.gg/B5bYnvjFDP" class="list-item-link">
              <img src="img/icons8-discord-48.png" alt="Discord">Discord
            </a>
          </li>
          <li>
            <a href="https://www.frameit.gg/marketplace/DUSTYBONES-c1fc90" class="list-item-link">
              <img src="img/icons8-frameit-48.png" alt="FrameIt">FrameIt
            </a>
          </li>
          <li>
            <a href="https://dusty-bones.myspreadshop.fr" class="list-item-link">
              <img src="img/icons8-spreadshop-48.png" alt="Spreadshop">Spreadshop
            </a>
          </li>
        </ul>
      </section>
    </div>
  </main>

  <footer>
    &copy; 2023 Dusty Bones.
  </footer>

  <script>
    // Carousel
    var carouselItems = document.querySelectorAll('.carousel-item');
    var currentIndex = 0;
    var interval = setInterval(changeSlide, 3000);

    function changeSlide() {
      carouselItems[currentIndex].classList.remove('active');
      currentIndex = (currentIndex + 1) % carouselItems.length;
      carouselItems[currentIndex].classList.add('active');
    }

    // List items animation
    const listItems = document.querySelectorAll('.ul-roadmap li');

    function animateListItems() {
      listItems.forEach((item, index) => {
        item.style.transitionDelay = `${index * 200}ms`;
        setTimeout(() => {
          item.style.opacity = 1;
          item.style.transform = 'translateY(0)';
        }, 1);
      });
    }

    animateListItems();

  // Htmx
  document.addEventListener('htmx:afterSwap', function (event) {
    if (event.target.id === "supply") {
      const data = JSON.parse(event.target.innerText);
      document.getElementById("supply").innerText = (data.totalSupply ?? 0) + ' / 666';
    }
    if (event.target.id === "holders") {
      const data = JSON.parse(event.target.innerText);
      document.getElementById("holders").innerText = data.hodlersInfo?.uniqueHodlers ?? '0';
    }
    if (event.target.id === "farm") {
      const data = JSON.parse(event.target.innerText);
      const total = data.map(x => Number.parseInt(x.value?.slice(0, -18)))?.reduce((a, b) => a + b, 0)
      document.getElementById("farm").innerText = (total ?? '0') + ' HsEGLD';
    }
  });


  </script>
</body>
</html>
