@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

body {
  background: linear-gradient(to bottom, #2a1f13, #4d3923, #7f5e39) no-repeat #0D0D0D;
  color: #F0F0F0;
  font-family: 'Fredoka', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 1.25em;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.625em;
}

p {
  font-size: 1em;
  margin-bottom: 1.25em;
}

.fadeSlideInText {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideInAnimation 1s ease-in-out forwards;
}

@keyframes fadeSlideInAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25em;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 50em;
}

section {
  width: 50em;
  margin-bottom: 2.5em;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    width: 100%;
  }
  
  section {
    width: 100%;
  }
}

.mint-button {
  display: inline-block;
  padding: 1em 2em;
  background-color: #F0F0F0;
  color: #0D0D0D;
  font-size: 1em;
  text-decoration: none;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}

.mint-button:hover {
  background-color: #F0F0F0;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.625em;
}

img {
  max-width: 100%;
  max-height: 20em;
  height: auto;
  margin-bottom: 1.25em;
}

a {
  color: #F0F0F0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.ul-roadmap li {
  position: relative;
  padding-left: 2em;
  margin-bottom: 0.625em;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

ul.ul-roadmap li::before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 0.75em;
  height: 0.75em;
  background-color: #F0F0F0;
  border-radius: 50%;
}

.list-item-link {
  display: flex;
  align-items: center;
  margin-bottom: 0.625em;
}

.list-item-link img {
  margin-right: 0.625em;
}

.team-section {
  margin-bottom: 2.5em;
}

.team-members {
  display: flex;
  justify-content: space-between;
}

.team-member {
  flex-basis: 10em;
}

.team-member img {
  max-width: 6.25em;
  height: auto;
  margin-bottom: 0.625em;
}

.team-member h3 {
  font-size: 1.125em;
  margin-bottom: 0.3125em;
}

.team-member p {
  font-size: 0.875em;
}


.dusty-section img {
  max-width: 10em;
  height: auto;
  margin-bottom: 0.625em;
}

footer {
  text-align: center;
  padding: 1.25em;
  font-size: 0.875em;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  display: none;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left;
}

.carousel-item.active {
  display: block;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.stats {
  padding-top: 2em;
}
